
@keyframes appear {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.fixed img {
  transition: opacity 0.7s ease-in-out;
  animation : appear 1ms
}
