:root {
    //--background: #121621;
    //--primary-color: rgba(39, 94, 254, 1);
    --background: #f6f7fa;
    --primary-color: #000;
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--background);
    // overflow: hidden;
  }
  
  .opening {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 100dvh;
    width: 100dvw;
    animation: lift 0.8s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
  }
  
  .title {
    font-size: 70px;
    color: #fff;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    animation: wave 0.4s, jump 1s;
    position: relative;
    top: 0;
    padding: 4px;
    //transform: translate3d(0, 16%, 0);
    opacity: 0;
    z-index: 3;
    animation-fill-mode: forwards;
  }
  
  span:nth-of-type(1) {
    //left: 0rem;
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.05s;
  }
  
  span:nth-of-type(2) {
    //left: 0.8rem;
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.1s;
  }
  
  span:nth-of-type(3) {
    //left: 1.6rem;
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.15s;
  }
  
  span:nth-of-type(4) {
    //left: 2.4rem;
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.2s;
  }
  
  span:nth-of-type(5) {
    //left: 3.2rem;
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.25s;
  }
  
  span:nth-of-type(6) {
    //left: 4rem;
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.3s;
  }
  
  /* span:nth-of-type(7) {
    //left: 4.8rem;
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.35s;
  }
  */
  
  @keyframes wave {
    0% {
      top: 0%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes jump {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
    90% {
      transform: translate3d(0, -16%, 0);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, -32%, 0);
      opacity: 1;
    }
  }
  
  @keyframes lift {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
    99% {
      height: 100dvw;
      width: 100dvw;
    }
    100% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }
  
  @keyframes appear {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes invisible {
    0% {
      visibility : hidden;
    }
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }

  }

  .new-body {
    animation: invisible 4s;
  }

  .parallax {
    /* overflow: hidden; */
    position: relative;
    z-index: 0;
    min-height: 75vh;
    display: grid;
    grid-template-areas: "stack";
  }
  
  .parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
  }
  
  .parallax > img {
    width: 100%;
  }
  
  .primary-header,
  .hero {
    --parallax-speed: 10;
    z-index: 10;
  }
  
  .parallax__bg {
    --parallax-speed: -10;
  
    z-index: 1;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .parallax__dust {
    --parallax-speed: -20;
    z-index: 2;
  }
  
  .parallax__luna {
    --parallax-speed: 50;
    z-index: 3;
  }
  
  .parallax__manny {
    --parallax-speed: 30;
    z-index: 4;
  }
  
  .parallax__jax {
    --parallax-speed: 10;
    z-index: 5;
  }
  
  .parallax__rays {
    --parallax-speed: 50;
    z-index: 3;
  }
  
  .parallax__foreground-front,
  .parallax__foreground-back {
    z-index: 999;
    align-self: end;
  }
  
  .parallax__foreground-back {
    transform: scaleY(1.2);
    transform-origin: bottom;
    mix-blend-mode: hard-light;
  }
  
  .main-content {
    position: relative;
    /* z-index: 1; */
    background: hsl(238, 100%, 6%);
    padding-block: 6rem;
  }
  
  @keyframes parallax {
    to {
      transform: 
        translateY(calc(var(--parallax-speed) * 200px));
    }
  }
  
  /* general styling */
  
  html {
    color-scheme: dark;
  }
  
  body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    font-weight: 700; /* for demo only */
    text-transform: uppercase; /* for demo only */
    min-height: 300vh; /* for demo only */
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .wrapper {
    width: min(65rem, 100% - 4rem);
    margin-inline: auto;
  }
  
  .flex-group {
    display: flex;
    gap: 1rem;
  }
  
  .button {
    font: inherit;
    font-style: italic;
    text-transform: uppercase;
    background: hsl(279, 75%, 59%);
    padding: 1em 2em;
    border: 0;
    border-radius: 0.125em;
  }
  
  .primary-header {
    padding-block: 2rem;
  }
  
  .primary-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .primary-nav ul {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .primary-nav a {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  
  .logo {
    max-width: 100px;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      inset: -3rem;
      z-index: -1;
      background: radial-gradient(hsl(0 0% 100% / 0.5), transparent 70%);
    }
  }
  
  .hero {
    margin-block-start: max(20vh, 8rem);
  }
  
  .hero__title {
    font-size: 6rem;
    max-width: 10ch;
    line-height: 1;
    font-style: italic;
    font-weight: 900;
    position: relative;
  
    > span {
      font-style: normal;
      font-size: 0.5em;
      display: block;
    }
  
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: black;
      z-index: -1;
      scale: 2;
      opacity: 0.5;
      filter: blur(5rem);
      translate: -50%;
    }
  }